<div id="menu">
    <ul>
        <li class="current_page_item">@Html.ActionLink("Index","Index")</li>        
        <li>@Html.ActionLink("o meni", "omeni")</a></li>
        <li>@Html.ActionLink("Kontakt","Contact")</li>
    </ul>
</div>
    