@{
    ViewBag.Title = "About";
}
    <div id="wrapper1">
        <div id="welcome" class="container">
            <div class="title">
                <h2>Strahinja Drinic</h2>
                <span class="byline">Student trece godine informacionih tehnologija -Visoka tehnicka skola strukovnih studija u Novom Sadu.</span>
            </div>
            <div class="content">
                <p>Ukoliko ste zainteresovani za bilo kakvu vrstu <strong>ponude</strong> za izradu vasih radova mozete  me kontaktirati i putem e-maila : <strong>strahinjadrinic@yahoo.com</strong> </p>
                <a href="#" class="button">Etiam posuere</a>
            </div>
        </div>
    </div>